<!DOCTYPE html>

<html>

<head>
    <title>thing</title>

    <link rel="stylesheet" href="../static/styles.css">
    
</head>

<body>

    

    <div id="testBox">
        <h1 id="title">Reaction Test</h1>
        <div id="text">
            <h3>When the grey box turns <span id="colorSpan">Red</span>, click as quickly as you can.</h3>
            <h3>Click anywhere to start</h4>
        </div>
    </div>

    <table>
        <tr>
          <th>Trial</th>
          <th>Result</th>
        </tr>
        <tr>
          <td>1</td>
          <td>10ms</td>
        </tr>
        <tr>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <td>3</td>
            <td>-</td>
          </tr>


      </table>

    
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="../static/redirectCompleted.js"></script>
    <script src="../static/test.js"></script>
</body>

</html>